<div class="card" *ngIf="train; else loader">
  <div class="card-header"
       contenteditable="true"
       #title
       (input)="changeTitle(title.textContent)">
    {{train.name}}
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text m-0 pr-3">Нажмите, чтобы добавить тренировку</p>
      <button type="button"
              class="btn btn-primary"
              [class.btn-primary]="!isAddTrainingOpen"
              [class.btn-danger]="isAddTrainingOpen"
              (click)="toggleAdd($event)">
        {{isAddTrainingOpen ? 'Отменить' : 'Добавить'}}
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="isAddTrainingOpen">
    <tfs-add-train (addTraining)="onAddTraining($event)"></tfs-add-train>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let training of (trains$ | async); let i=index">
      <tfs-training-preview [training]="training"
                            [isOpen]="isCurrentOpen(i)"
                            (previewClick)="setCurrentOpen(i)"
                            (previewDelete)="onPreviewDelete(training)"
      ></tfs-training-preview>
    </li>
  </ul>
  <!--<div class="card-footer text-center">-->
    <!--Итого: <strong>{{balance$ | async | currency:'RUB'}}</strong>-->
  <!--</div>-->
</div>
<ng-template #loader>
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" stroke="currentColor">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
          <path d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(105.491 18 18)">
            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s"
                              repeatCount="indefinite"/>
          </path>
        </g>
      </g>
    </svg>
  </div>
</ng-template>
