:host {
  display: block;
  margin: 20px 0;
}

.list-group-item {
  overflow: hidden;
}

.loader {
  height: 200px;
  max-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2C3E50;
}

.btn-primary {
  color: #fff;
  background-color: #00bc8c;
  border-color: #00946c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00a376;
  border-color: #00805f;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 188, 140, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 140, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #00bc8c;
  border-color: #00bc8c;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00bc8c;
  border-color: #00bc8c;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 188, 140, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 140, 0.5);
}
